:root {
    --aqua: #80ffdb;
} 

/* Setting some styling for the entire body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Header Styling */

/* Setting up header as flexbox and applying padding, text alignment, font family, font size, background color and text color */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    font-family: 'Kalam', cursive;
    background-color: #323232;
    font-size: medium;
    text-align: center;
    color: var(--aqua);
}

/* Setting up header div width and float style */
  
header > div {
    width: 50%;
    float: left;
}

/* Setting up nav in header as a flexbox and applying background color */

nav {
    display: flex;  
    background-color: #323232;
}

/* Setting up top padding for header nav element */

.header-nav {
    padding-top: 10px;
}

/* Setting up anchor tags in header nav with color, font family, padding and text decoration */
  
nav a {
    color: var(--aqua);
    font-family: 'Josefin Sans', sans-serif;  
    padding: 10px;
    text-decoration: none;
} 

/* Applying styling to anchor tags when you hover over them, it applies a border with style, width, radius, opacity and shadow */

a:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 0 0 5px 2px #80ffdb; 
}

/* Setting up styling for header paragraph element */

header p {
    padding: 10px;
    font-size: large;
}

/* Main Styling */

/* Setting up main as flexbox and applying padding, font family, font size, background color and text color */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 0, 0);
    color: var(--aqua);
    padding: 50px 250px;
    font-size: larger;
}

/* Setting up styling for main paragraph element */

main p {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    font-size: large;
}

/* Setting up top margin for h4 in main */

h4 {
    margin-top: 40px;
}

/* Setting up mywork class as a flexbox and giving gap, padding between the flex items */

.mywork {
    gap: 20px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Setting up styling for each flex item, giving height, width, border style to the items */

.item {
    flex: 1 0 400px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 50%;
} 

/* Setting up background sea image for .item-sea class and the corresponding item */

.item-sea {
    background: url(../images/sea.jpeg);
    background-size: 100%;
    background-repeat: none;
}

/* Setting up background led image for .item-led class and the corresponding item */

.item-led {
    background: url(../images/led.jpeg);
    background-size: 100%;
    background-repeat: none;
}

/* Setting up background calculator image for .item-calculator class and the corresponding item */

.item-calculator {
    background: url(../images/calculator.jpeg);
    background-size: 100%;
    background-repeat: none;
}

/* Setting up background pattern image for .item-pattern class and the corresponding item */

.item-pattern {
    background: url(../images/pattern.webp);
    background-size: 100%;
    background-repeat: none;
}

/* Setting up background running image for .item-running class and the corresponding item */

.item-running {
    background: url(../images/running.jpeg);
    background-size: 100%;
    background-repeat: none;
}

/* Setting up styling for item's paragraph element */

.item p {
    padding-left: 10px;
    background-color: black;
    border-radius: 5px 0 0 0;
    width: 25%;
}

/* Applying styling to flex items when you hover over them, it applies a background color, opacity and shadow */

.item:hover {
    background-color: rgba(50, 50, 50, 0.5); 
    opacity: 0.5;
    box-shadow: 0 0 10px 2px #80ffdb; 
}

/* Footer Styling */

/* Setting up footer as flexbox and applying padding, text alignment, font family, background color and text color */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 50px;
    font-family: 'Josefin Sans', sans-serif;  
    background-color: #323232;
    color: var(--aqua);
}

/* Setting up styling for footer paragraph element */

footer nav p {
    width: 100%;
    text-align: center;
    padding: 30px 50px;
}

/* Setting up some top padding for footer div element */

footer div {
    padding-top: 10px;
}



/* Setting up different sections in columns for device screen of 768px or smaller */

@media screen and (max-width: 992px) {

    
}

@media screen and (max-width: 768px) {

    /* Setting up header divs in column */

    header {
        flex-direction: column;
    }

    /* Setting up header width to fit the screen */

    header > div {
        width: 100%;
    }

    /* Setting up nav content in column */

    nav {
      flex-direction: column;
    }

    /* Changing the left and right padding for main section when the screen width changes */

    main {
        padding: 50px 0;
    }

}

